:root {
  --brainbots-electric-ultramarine: #2201ff;
  --brainbots-spring-bud: #aeff02;
  --brainbots-shocking-pink: #fe06be;
  --brainbots-vivid-yellow: #ffe600;
  --brainbots-vivid-red: #fe3649;
  --brainbots-lavender-indigo: #a44afe;
  --brainbots-vampire-black: #0a0a0a;
  --brainbots-white: #ffffff;
}
