@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 99.2157%);
  --foreground: hsl(0 0% 0%);
  --card: hsl(0 0% 99.2157%);
  --card-foreground: hsl(0 0% 0%);
  --popover: hsl(0 0% 98.8235%);
  --popover-foreground: hsl(0 0% 0%);
  --primary: hsl(0, 100%, 50%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(200 5.2632% 11.1765%);
  --secondary-foreground: hsl(214.2857 24.1379% 94.3137%);
  --muted: hsl(0 0% 96.0784%);
  --muted-foreground: hsl(0 0% 32.1569%);
  --accent: hsl(336.3636 80.4878% 91.9608%);
  --accent-foreground: hsl(336.5385 63.4146% 48.2353%);
  --destructive: hsl(358.4416 74.7573% 59.6078%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(240 17.0732% 91.9608%);
  --input: hsl(0 0% 92.1569%);
  --ring: hsl(0 0% 0%);
  --chart-1: hsl(148.0952 53.3898% 53.7255%);
  --chart-2: hsl(336.5385 63.4146% 48.2353%);
  --chart-3: hsl(24.8571 98.1308% 58.0392%);
  --chart-4: hsl(270.1657 95.7672% 62.9412%);
  --chart-5: hsl(0 0% 45.4902%);
  --sidebar: hsl(0 0% 99.2157%);
  --sidebar-foreground: hsl(0 0% 0%);
  --sidebar-primary: hsl(337.2052 100% 55.0980%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(336.3636 80.4878% 91.9608%);
  --sidebar-accent-foreground: hsl(336.5385 63.4146% 48.2353%);
  --sidebar-border: hsl(240 17.0732% 91.9608%);
  --sidebar-ring: hsl(0 0% 0%);
  --font-sans: var(--font-nohemi), ui-sans-serif, sans-serif, system-ui;
  --font-serif: "Source Serif 4", ui-serif, serif;
  --font-mono: "IBM Plex Mono", monospace;
  --font-mayeka: var(--font-nohemi), ui-sans-serif, sans-serif, system-ui;
  --radius: 1rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: -0.015em;
  --spacing: 0.27rem;
  --color-1: oklch(66.2% 0.225 25.9);
  --color-2: oklch(60.4% 0.26 302);
  --color-3: oklch(69.6% 0.165 251);
  --color-4: oklch(80.2% 0.134 225);
  --color-5: oklch(90.7% 0.231 133);
}

.dark {
  --background: hsl(0 0% 2.3529%);
  --foreground: hsl(0 0% 94.1176%);
  --card: hsl(220 5.8824% 10%);
  --card-foreground: hsl(0 0% 94.1176%);
  --popover: hsl(228.0000 6.8493% 14.3137%);
  --popover-foreground: hsl(0 0% 94.1176%);
  --primary: hsl(0, 100%, 50%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(200 5.2632% 11.1765%);
  --secondary-foreground: hsl(0 0% 94.1176%);
  --muted: hsl(226.6667 9.6774% 18.2353%);
  --muted-foreground: hsl(0 0% 62.7451%);
  --accent: hsl(217.2414 32.5843% 17.4510%);
  --accent-foreground: hsl(336.5385 63.4146% 48.2353%);
  --destructive: hsl(0 90.6040% 70.7843%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(222.8571 6.4220% 21.3725%);
  --input: hsl(222.8571 6.4220% 21.3725%);
  --ring: hsl(336.5385 63.4146% 48.2353%);
  --chart-1: hsl(141.8919 69.1589% 58.0392%);
  --chart-2: hsl(336.5385 63.4146% 48.2353%);
  --chart-3: hsl(0 93.5484% 81.7647%);
  --chart-4: hsl(217.5484 87.5706% 65.2941%);
  --chart-5: hsl(0 0% 62.7451%);
  --sidebar: hsl(240 4.3478% 9.0196%);
  --sidebar-foreground: hsl(0 0% 94.1176%);
  --sidebar-primary: hsl(336.5385 63.4146% 48.2353%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(226.6667 9.6774% 18.2353%);
  --sidebar-accent-foreground: hsl(311.0429 100% 68.0392%);
  --sidebar-border: hsl(222.8571 6.4220% 21.3725%);
  --sidebar-ring: hsl(311.0429 100% 68.0392%);
  --font-sans: var(--font-nohemi), ui-sans-serif, sans-serif, system-ui;
  --font-serif: "Source Serif 4", ui-serif, serif;
  --font-mono: "IBM Plex Mono", monospace;
  --font-mayeka: var(--font-nohemi), ui-sans-serif, sans-serif, system-ui;
  --radius: 1rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --color-1: oklch(66.2% 0.225 25.9);
  --color-2: oklch(60.4% 0.26 302);
  --color-3: oklch(69.6% 0.165 251);
  --color-4: oklch(80.2% 0.134 225);
  --color-5: oklch(90.7% 0.231 133);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-mayeka: var(--font-mayeka);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-normal: var(--tracking-normal);

  --text-xl--letter-spacing: var(--tracking-normal);
  --text-xl--font-weight: 600;
  --text-2xl--letter-spacing: var(--tracking-normal);
  --text-2xl--font-weight: 600;
  --text-3xl--letter-spacing: var(--tracking-normal);
  --text-3xl--font-weight: 600;
  --text-4xl--letter-spacing: var(--tracking-normal);
  --text-4xl--font-weight: 600;
  --text-5xl--letter-spacing: var(--tracking-normal);
  --text-5xl--font-weight: 600;
  --text-6xl--letter-spacing: var(--tracking-normal);
  --text-6xl--font-weight: 600;
  --text-7xl--letter-spacing: var(--tracking-normal);
  --text-7xl--font-weight: 600;
  --text-8xl--letter-spacing: var(--tracking-normal);
  --text-8xl--font-weight: 600;
  --text-9xl--letter-spacing: var(--tracking-normal);
  --text-9xl--font-weight: 600;
  --text-h1: 48px;
  --text-h1--line-height: 48px;
  --text-h1--letter-spacing: var(--tracking-normal);
  --text-h1--font-weight: 600;
  --text-h2: 40px;
  --text-h2--line-height: 40px;
  --text-h2--letter-spacing: var(--tracking-normal);
  --text-h2--font-weight: 600;
  --text-h3: 30px;
  --text-h3--line-height: 36px;
  --text-h3--letter-spacing: var(--tracking-normal);
  --text-h3--font-weight: 600;
  --text-h4: 24px;
  --text-h4--line-height: 32px;
  --text-h4--letter-spacing: var(--tracking-normal);
  --text-h4--font-weight: 600;
  --text-h5: 20px;
  --text-h5--line-height: 28px;
  --text-h5--letter-spacing: var(--tracking-normal);
  --text-h5--font-weight: 600;
  --text-large: 18px;
  --text-large--line-height: 28px;
  --text-large--letter-spacing: var(--tracking-normal);
  --text-large--font-weight: 600;
  --text-lead: 20px;
  --text-lead--line-height: 28px;
  --text-lead--letter-spacing: var(--tracking-normal);
  --text-lead--font-weight: 600;
  --text-p: 16px;
  --text-p--line-height: 28px;
  --text-p--letter-spacing: var(--tracking-normal);
  --text-p--font-weight: 400;
  --text-p_ui: 16px;
  --text-p_ui--line-height: 24px;
  --text-p_ui--letter-spacing: var(--tracking-normal);
  --text-p_ui--font-weight: 400;
  --text-p_ui_medium: 16px;
  --text-p_ui_medium--line-height: 24px;
  --text-p_ui_medium--letter-spacing: var(--tracking-normal);
  --text-p_ui_medium--font-weight: 500;
  --text-list: 16px;
  --text-list--line-height: 24px;
  --text-list--letter-spacing: var(--tracking-normal);
  --text-list--font-weight: 400;
  --text-body: 14px;
  --text-body--line-height: 24px;
  --text-body--letter-spacing: var(--tracking-normal);
  --text-body--font-weight: 400;
  --text-body_medium: 14px;
  --text-body_medium--line-height: 24px;
  --text-body_medium--letter-spacing: var(--tracking-normal);
  --text-body_medium--font-weight: 500;
  --text-subtle: 14px;
  --text-subtle--line-height: 20px;
  --text-subtle--letter-spacing: var(--tracking-normal);
  --text-subtle--font-weight: 400;
  --text-subtle_medium: 14px;
  --text-subtle_medium--line-height: 20px;
  --text-subtle_medium--letter-spacing: var(--tracking-normal);
  --text-subtle_medium--font-weight: 500;
  --text-subtle_semibold: 14px;
  --text-subtle_semibold--line-height: 20px;
  --text-subtle_semibold--letter-spacing: var(--tracking-normal);
  --text-subtle_semibold--font-weight: 600;
  --text-small: 14px;
  --text-small--line-height: 14px;
  --text-small--letter-spacing: var(--tracking-normal);
  --text-small--font-weight: 400;
  --text-detail: 12px;
  --text-detail--line-height: 20px;
  --text-detail--letter-spacing: var(--tracking-normal);
  --text-detail--font-weight: 400;
  --text-badge: 12px;
  --text-badge--line-height: 16px;
  --text-badge--letter-spacing: var(--tracking-normal);
  --text-badge--font-weight: 400;
  --text-blockquote: 16px;
  --text-blockquote--line-height: 24px;
  --text-blockquote--letter-spacing: var(--tracking-normal);
  --text-blockquote--font-weight: 400;
  --text-table_head: 16px;
  --text-table_head--line-height: 24px;
  --text-table_head--letter-spacing: var(--tracking-normal);
  --text-table_head--font-weight: 700;
  --text-table_item: 16px;
  --text-table_item--line-height: 24px;
  --text-table_item--letter-spacing: var(--tracking-normal);
  --text-table_item--font-weight: 400;
  --text-kb_shortcut: 12px;
  --text-kb_shortcut--line-height: 20px;
  --text-kb_shortcut--letter-spacing: var(--tracking-normal);
  --text-kb_shortcut--font-weight: 400;
  --text-card_title: 24px;
  --text-card_title--line-height: 24px;
  --text-card_title--letter-spacing: var(--tracking-normal);
  --text-card_title--font-weight: 600;

  --breakpoint-sm: 360px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 1280px;
  --container-padding: 8px;
  --container-max-width-lg: 1280px;

  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --animate-gradient: gradient 8s linear infinite;
  --color-color-1: var(--color-1);
  --color-color-2: var(--color-2);
  --color-color-3: var(--color-3);
  --color-color-4: var(--color-4);
  --color-color-5: var(--color-5);

  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }

  @keyframes gradient {
    to {
      background-position: var(--bg-size, 300%) 0;
    }
  }
}

@utility font-mayeka {
  font-family: var(--font-mayeka);
  @apply scale-y-110;
}

@layer utilities {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: none !important;
    @apply px-4!;
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px !important;
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-border outline-ring/50;
    scrollbar-gutter: stable;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
    font-weight: 400;
    letter-spacing: var(--tracking-normal);
  }

  svg {
    display: inline-block;
    overflow: visible;
  }

  .invert {
    filter: invert(1);
    transition: filter 0.4s ease;
  }

  .invert-light-only {
    filter: invert(1);
    transition: filter 0.4s ease;
  }

  .invert-dark-only {
    filter: none;
    transition: filter 0.4s ease;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--foreground);
    border-radius: 10px;
  }
}
